@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "VT323", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#input-container {
  display: flex;
  gap: 10px;
}

#input-container input {
  margin-top: 40px;
  width: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  gap: 10px;
}

#buttons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.button {
  height: 40px;
  width: 40px;
  margin: 10px;
  background-color: red;
  border: none;
  border-radius: 6px;
}

.disable{
  height: 40px;
  width: 40px;
  margin: 10px;
  background-color: rgb(217, 217, 217);
  border: none;
  border-radius: 6px;
}